/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
  border: 1px solid red;
  margin: 1rem;
  padding: 1rem;
}

.style-me1 {
  color: red;
}

#style-me2 {
  color: blue;
}

.style-me1 + #style-me2 {
  color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */
.my-descendants-are-styled p {
  background-color: red;
}

.my-children-are-styled > p {
  background-color: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
.box {
  margin: 16px 1rem 1rem 1.0001rem;
  padding: 10rem 10rem;
  background-color: aqua;
  width: 10vh;
  height: 10vh !important;
  border: 10px solid red;
  border: 1rem dashed fuchsia;
  box-sizing: content-box;
  overflow: scroll;
  outline: 10px solid greenyellow;
  border-radius: 50%;
  background-image: url("../assets/images/img1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* III. Positioning */
/* Put styles for questions 1-3 here */
.position-absolute {
  position: absolute;
  top: 0;
  background-color: chartreuse;
  left: 1rem;
}

.position-relative {
  position: relative;
  background-color: coral;
}
/* 2.3 absolute positioning is relative to the relatively positionied container */
/* 2.4 positions the element to the left of the relative container */
.position-sticky {
  position: sticky;
  background-color: cornflowerblue;
  top: 0;
}
/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style {
  color: chocolate;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  font-family: "Comic Neue", cursive;
  font-style: normal;
  text-align: center;
  letter-spacing: 5px;
  word-spacing: -50px;
  text-transform: capitalize;
  text-decoration: underline;
}
/* V. Styling links */
/* Put styles for questions 1-3 here */
a,
a:link {
  color: aqua;
  font-size: 2rem;
  font-weight: bolder;
  text-decoration: line-through;
  transition: color ease-in-out 300ms;
}

a:hover,
a:active,
a:focus {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: blueviolet;
  font-style: italic;
}
/* VI. calc() */
/* Put styles for questions 1-3 here */
.calc-style {
  width: 100vw;
  background-color: cornsilk;
  width: calc(100vw - 100px);
}

.fixed-width-col {
  width: 350px;
  display: inline-block;
}

.fluid-col {
  display: inline-block;
  width: calc(100% - 355px);
}
